.app {
    text-align: center;

}

.Header{
    text-align: center;
    -webkit-text-fill-color: blue;
    background-image: linear-gradient(orange,white,green);
    font-style: oblique;
    font-size: 2rem;
    padding:20px;
    width: 100%;
    position:fixed;
    top: 0;
    left:0;
    margin: 0;

}

 .Footer{
    text-align: center;
    text-emphasis-color: blue;
    background-image:linear-gradient(yellow,red);
    font-style: oblique;
    font-size: 2rem;
    padding:20px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5%;
}

.body {
    padding: 20px;
    margin-top: 60px;
    text-align: center;
    height: 100vh;
}
.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.center-div p {
    max-height: 200px;
    overflow: auto;
    width: 80%;
}
